.header {
  &_menu {
    margin: 0 -15px;
    li {
      a {
        display: block;
        padding: 0 15px;
        &:last-of-type {
          margin-right: 0;
        }
        &:hover {
          color: #ffffff;
          background: rgba(31, 41, 55, 1);
        }
      }
    }
  }
}

.hamburger-toggle {
  span {
    -webkit-transition: all 0.25s;
    -o-transition: all 0.25s;
    transition: all 0.25s;
  }
  &.open {
    span {
      &:nth-of-type(1) {
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        top: 8px;
      }
      &:nth-of-type(2) {
        display: none;
      }
      &:nth-of-type(3) {
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
        top: 8px;
      }
    }
  }
}

.bullet {
  font-size: 12px;
  color: #2257DA;
  list-style-type: disc;
  padding-bottom: 10px;
}

.breadcrumbs {
  &_item {
    position: relative;
    &:first-of-type {
      background: url('../../img/home.svg');
      background-repeat: no-repeat;
      background-size: contain;
    }
    &:last-of-type {
      &:after {
        content: none;
      }
    }
    &:after {
      content: '';
      width: 10px;
      height: 10px;
      position: absolute;
      top: 51%; right: -2rem;
      background: url('../../img/breadcrumbs-arrow.svg');
      background-size: contain;
      background-repeat: no-repeat;
      -webkit-transform: translateY(-50%) translateX(-100%);
      -ms-transform: translateY(-50%) translateX(-100%);
      transform: translateY(-50%) translateX(-100%);
    }
  }
}