@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  h1 {
    @apply text-3xl lg:text-5xl font-black;
  }
  p {
    @apply mb-2;
  }
  p:last-of-type {
    @apply mb-0;
  }
  .container {
    @apply mx-auto px-2 lg:px-20;
  }
  .page-padding {
    @apply pt-32 lg:pt-36;
  }
  .number-iterator {
    @apply w-[20px] h-[20px] text-sm text-white flex justify-center items-center bg-gray-800 rounded-full mr-2;
  }
  .absolute-link {
    @apply w-full h-full absolute left-0 top-0 z-2;
  }
  .h-line {
    @apply w-full h-[2px] absolute top-[11px] bg-blue-700;
  }
  .custom-btn-dark {
    @apply bg-gray-800 text-white text-center rounded-xl px-4 py-2;
  }
  .custom-input {
    @apply border border-2 py-2 px-4 mb-2;
  }
  .custom-shadow {
    -webkit-box-shadow: 0px 19px 38px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 19px 38px 0px rgba(0, 0, 0, 0.1);
  }
  .content ul {
    @apply ml-4 mb-4;
  }
  .content li {
    @apply list-disc;
  }
  .content a {
    @apply text-blue-700;
  }
  .lang {
    @apply -mx-2;
  }
  .lang li {
    @apply list-none px-2;
  }
  .current-lang {
    @apply text-blue-700;
  }
  .pagination {
    @apply flex justify-center items-center -mx-2;
  }
  .pagination .page-numbers {
    @apply w-10 h-10 bg-gray-100 flex items-center justify-center mx-2;
  }
  .pagination .page-numbers.current {
    @apply text-white bg-blue-500;
  }
  .hotel-rating tr {
    width: 100%;
    min-height: 3em;
    position: relative;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    vertical-align: top;
  }
  .hotel-rating td, .hotel-rating th {
    width: 50%;
    padding: 14px;
    padding-top: 12px;
    padding-bottom: 12px;
  }
  .hotel-rating th {
    @apply bg-gray-400;
  }
  .hotel-rating .rating-row {
    @apply bg-gray-200 rounded-xl py-2;
  }
}